<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Triplecq">

    <title>{{ page.title }}</title>

    <!-- Bootstrap styles -->
    <link href="./bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="./bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css" />

  </head>
  <body>
    {{ content }}

    <footer>
      <p class="text-center">&copy; 2013 Proudly Powered By <a href="http://www.linkedin.com/pub/qi-chen/67/30b/5aa" target="_blank">Triplecq</a> &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
   
  </body>
</html>
